In [1]:
import pandas as pd

In [3]:
s = pd.Series([0,1,4,9,16,25], name='squares')

In [4]:
s

0     0
1     1
2     4
3     9
4    16
5    25
Name: squares, dtype: int64

In [5]:
s.name

'squares'

In [6]:
s.values

array([ 0,  1,  4,  9, 16, 25])

In [7]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [8]:
s[0]

0

In [9]:
s[3]

9

In [18]:
s[:4]

0    0
1    1
2    4
3    9
Name: squares, dtype: int64

In [12]:
pop2014=pd.Series([100, 99.3, 93.5, 82.4],  index=['Java','C','C++','Python'])

In [13]:
pop2014

Java      100.0
C          99.3
C++        93.5
Python     82.4
dtype: float64

In [14]:
pop2014['Java']

100.0

In [15]:
pop2014['Python']

82.4

In [16]:
pop2014['Java':'C++']

Java    100.0
C        99.3
C++      93.5
dtype: float64

In [17]:
pop2014[:'C++']

Java    100.0
C        99.3
C++      93.5
dtype: float64

In [19]:
pop2014.iloc[:2]

Java    100.0
C        99.3
dtype: float64

In [20]:
pop2014[[True, True, False, True]]

Java      100.0
C          99.3
Python     82.4
dtype: float64

In [21]:
pop2014

Java      100.0
C          99.3
C++        93.5
Python     82.4
dtype: float64

In [22]:
pop2014[[True, True, False, False]]

Java    100.0
C        99.3
dtype: float64

In [23]:
pop2014>95

Java       True
C          True
C++       False
Python    False
dtype: bool

In [27]:
pop2014[ pop2014>95 ]

Java    100.0
C        99.3
dtype: float64

## DataFrames

In [29]:
pop2014

Java      100.0
C          99.3
C++        93.5
Python     82.4
dtype: float64

In [30]:
pop2019=pd.Series([100, 91.3, 99.4, 83], index=['Python', 'C','C++', 'Java'])

In [31]:
pop2019

Python    100.0
C          91.3
C++        99.4
Java       83.0
dtype: float64

In [37]:
twoyears=pd.DataFrame({'2014':pop2014, '2019':pop2019})

In [38]:
twoyears

         2014   2019
C        99.3   91.3
C++      93.5   99.4
Java    100.0   83.0
Python   82.4  100.0

In [39]:
twoyears.values

array([[ 99.3,  91.3],
       [ 93.5,  99.4],
       [100. ,  83. ],
       [ 82.4, 100. ]])

In [40]:
twoyears.index

Index(['C', 'C++', 'Java', 'Python'], dtype='object')

In [41]:
twoyears.loc['Python']   ##select by index values

2014     82.4
2019    100.0
Name: Python, dtype: float64

In [42]:
twoyears.loc['C':'Python']

         2014   2019
C        99.3   91.3
C++      93.5   99.4
Java    100.0   83.0
Python   82.4  100.0

In [49]:
twoyears['2019']

C          91.3
C++        99.4
Java       83.0
Python    100.0
Name: 2019, dtype: float64

In [50]:
twoyears.loc['C++','2019']

99.4

In [51]:
# What is the popularity index of Java in 2019

In [53]:
twoyears.loc['Java', '2019']

83.0

In [54]:
twoyears.iloc[1,0]

93.5

In [55]:
twoyears>90

         2014   2019
C        True   True
C++      True   True
Java     True  False
Python  False   True

In [56]:
twoyears

         2014   2019
C        99.3   91.3
C++      93.5   99.4
Java    100.0   83.0
Python   82.4  100.0

In [58]:
twoyears.sort_values(by='2014', ascending=False)

         2014   2019
Java    100.0   83.0
C        99.3   91.3
C++      93.5   99.4
Python   82.4  100.0

In [62]:
cars=pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/mpg.csv')

In [ ]:
cars.sort_values(by='mpg')

In [65]:
cars.iloc[range(11)] #first 11 cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se

In [67]:
cars.head(11)   ## first 11 cars
cars.tail(11)   ## last 11 cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
388,26.0,4,156.0,92.0,2585,14.5,82,usa,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [73]:
cars.sort_values(by='mpg').head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
124,11.0,8,350.0,180.0,3664,11.0,73,usa,oldsmobile omega

In [70]:
cars[['mpg', 'cylinders','name']].head()

    mpg  cylinders                       name
0  18.0          8  chevrolet chevelle malibu
1  15.0          8          buick skylark 320
2  18.0          8         plymouth satellite
3  16.0          8              amc rebel sst
4  17.0          8                ford torino

In [72]:
cars.sort_values(by='horsepower' ,ascending=False).head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
116,16.0,8,400.0,230.0,4278,9.5,73,usa,pontiac grand prix
95,12.0,8,455.0,225.0,4951,11.0,73,usa,buick electra 225 custom
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala

In [ ]:
## Show the cars that has an mpg lower than 15

cars['mpg']>15


cars[cars['mpg']>15]  #cars that have an mpg of greater than 15

In [ ]:
cars[cars['horsepower']>150]   ## order this list in a descending order based on their mpg

In [80]:
super_cars=cars[cars['horsepower']>150]

super_cars.sort_values(by='mpg', ascending=False)

In [84]:
cars[cars['horsepower']>150].sort_values(by='mpg', ascending=False)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
263,17.7,6,231.0,165.0,3445,13.4,78,usa,buick regal sport coupe (turbo)
289,16.9,8,350.0,155.0,4360,14.9,79,usa,buick estate wagon (sw)
212,16.5,8,350.0,180.0,4380,12.1,76,usa,cadillac seville
229,16.0,8,400.0,180.0,4220,11.1,77,usa,pontiac grand prix lj
156,16.0,8,400.0,170.0,4668,11.5,75,usa,pontiac catalina
116,16.0,8,400.0,230.0,4278,9.5,73,usa,pontiac grand prix
231,15.5,8,400.0,190.0,4325,12.2,77,usa,chrysler cordoba
230,15.5,8,350.0,170.0,4165,11.4,77,usa,chevrolet monte carlo landau
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se
190,14.5,8,351.0,152.0,4215,12.8,76,usa,ford gran torino
63,14.0,8,400.0,175.0,4385,12.0,72,usa,pontiac catalina
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
65,14.0,8,351.0,153.0,4129,13.0,72,usa,ford galaxie 500
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
40,14.0,8,351.0,153.0,4154,13.5,71,usa,ford galaxie 500
39,14.0,8,400.0,175.0,4464,11.5,71,usa,pontiac catalina brougham
38,14.0,8,350.0,165.0,4209,12.0,71,usa,chevrolet impala
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
44,13.0,8,400.0,175.0,5140,12.0,71,usa,pontiac safari (sw)
62,13.0,8,350.0,165.0,4274,12.0,72,usa,chevrolet impala
43,13.0,8,400.0,170.0,4746,12.0,71,usa,ford country squire (sw)
68,13.0,8,350.0,155.0,4502,13.5,72,usa,buick lesabre custom
70,13.0,8,400.0,190.0,4422,12.5,72,usa,chrysler newport royal
85,13.0,8,350.0,175.0,4100,13.0,73,usa,buick century 350
92,13.0,8,351.0,158.0,4363,13.0,73,usa,ford ltd
94,13.0,8,440.0,215.0,4735,11.0,73,usa,chrysler new yorker brougham
96,13.0,8,360.0,175.0,3821,11.0,73,usa,amc ambassador brougham
105,13.0,8,360.0,170.0,4654,13.0,73,usa,plymouth custom suburb
106,12.0,8,350.0,180.0,4499,12.5,73,usa,oldsmobile vista cruiser
90,12.0,8,429.0,198.0,4952,11.5,73,usa,mercury marquis brougham
104,12.0,8,400.0,167.0,4906,12.5,73,usa,ford country
95,12.0,8,455.0,225.0,4951,11.0,73,usa,buick electra 225 custom
42,12.0,8,383.0,180.0,4955,11.5,71,usa,dodge monaco (sw)
69,12.0,8,350.0,160.0,4456,13.5,72,usa,oldsmobile delta 88 royale
67,11.0,8,429.0,208.0,4633,11.0,72,usa,mercury marquis
124,11.0,8,350.0,180.0,3664,11.0,73,usa,oldsmobile omega
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d

In [86]:
sorted_cars=cars.sort_values(by='mpg', ascending=False)

sorted_cars[sorted_cars['horsepower']>150]

In [ ]:
cars['horsepower']>150 #criterion 1

In [ ]:
cars['mpg']>15    #criterion 2

In [ ]:
(cars['horsepower']>150)&(cars['mpg']>15)   ## Shows the cars that meets cretrion 1 and 2

In [ ]:
cars[(cars['horsepower']>150)&(cars['mpg']>15) ]    ##   & means AND

In [92]:
 cars[(cars['horsepower']>150)|(cars['mpg']>15) ]   ##   | means OR

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
16,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
22,25.0,4,104.0,95.0,2375,17.5,70,europe,saab 99e
23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
24,21.0,6,199.0,90.0,2648,15.0,70,usa,amc gremlin
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
29,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
30,28.0,4,140.0,90.0,2264,15.5,71,usa,chevrolet vega 2300
...,...,...,...,...,...,...,...,...,...
368,27.0,4,112.0,88.0,2640,18.6,82,usa,chevrolet cavalier wagon
369,34.0,4,112.0,88.0,2395,18.0,82,usa,chevrolet cavalier 2-door
370,31.0,4,112.0,85.0,2575,16.2,82,usa,pontiac j2000 se hatchback
371,29.0,4,135.0,84.0,2525,16.0,82,usa,dodge aries se
372,27.0,4,151.0,90.0,2735,18.0,82,usa,pontiac phoenix
373,24.0,4,140.0,92.0,2865,16.4,82,usa,ford fairmont futura
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl
375,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l
376,37.0,4,91.0,68.0,2025,18.2,82,japan,mazda glc custom l
377,31.0,4,91.0,68.0,1970,17.6,82,japan,mazda glc custom
378,38.0,4,105.0,63.0,2125,14.7,82,usa,plymouth horizon miser
379,36.0,4,98.0,70.0,2125,17.3,82,usa,mercury lynx l
380,36.0,4,120.0,88.0,2160,14.5,82,japan,nissan stanza xe
381,36.0,4,107.0,75.0,2205,14.5,82,japan,honda accord
382,34.0,4,108.0,70.0,2245,16.9,82,japan,toyota corolla
383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
384,32.0,4,91.0,67.0,1965,15.7,82,japan,honda civic (auto)
385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
386,25.0,6,181.0,110.0,2945,16.4,82,usa,buick century limited
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
388,26.0,4,156.0,92.0,2585,14.5,82,usa,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10